In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("D:\Data Analysis\Projects\IPL2023\data\IPLdata.csv")

In [3]:
df1

,Match_Id,Team 1,Team 2,Team,Winner,Margin,Ground,Date,Scoreboard Link
0,1,Titans,Super Kings,Titans Vs Super Kings,Titans,5 wickets,Ahmedabad,"Mar 31, 2023",https://www.espncricinfo.com/series/indian-pre...
1,2,Punjab Kings,KKR,Punjab Kings Vs KKR,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
2,3,Super Giants,Capitals,Super Giants Vs Capitals,Super Giants,50 runs,Lucknow,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
3,4,Sunrisers,Royals,Sunrisers Vs Royals,Royals,72 runs,Hyderabad,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
4,5,RCB,Mumbai,RCB Vs Mumbai,RCB,8 wickets,Bengaluru,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
...,...,...,...,...,...,...,...,...,...
69,70,RCB,Titans,RCB Vs Titans,Titans,6 wickets,Bengaluru,"May 21, 2023",https://www.espncricinfo.com/series/indian-pre...
70,71,Super Kings,Titans,Super Kings Vs Titans,Super Kings,15 runs,Chennai,"May 23, 2023",https://www.espncricinfo.com/series/indian-pre...
71,72,Super Giants,Mumbai,Super Giants Vs Mumbai,Mumbai,81 runs,Chennai,"May 24, 2023",https://www.espncricinfo.com/series/indian-pre...
72,73,Titans,Mumbai,Titans Vs Mumbai,Titans,62 runs,Ahmedabad,"May 26, 2023",https://www.espncricinfo.com/series/indian-pre...
73,74,Titans,Super Kings,Titans Vs Super Kings,Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023",https://www.espncricinfo.com/series/indian-pre...

In [4]:
teams = {
    "Titans":'Gujarat Titans',
    "Super Kings":'Chennai Super Kings',
    "Punjab Kings":'Punjab Kings',
    "KKR":'Kolkata Knight Riders',
    "Super Giants":'Lucknow Super Giants',
    "Capitals":'Delhi Capitals',
    "Sunrisers":'Sunrisers Hyderabad',
    "Royals":'Rajasthan Royals',
    "RCB":'Royal Challengers Bangalore',
    "Mumbai":'Mumbai Indians',
}

In [5]:
df1['Team 1'] = df1['Team 1'].map(teams)
df1['Team 2'] = df1['Team 2'].map(teams)

In [6]:
df1['Winner'] = df1['Winner'].map(teams)

In [7]:
df1.drop('Team', axis=1)

,Match_Id,Team 1,Team 2,Winner,Margin,Ground,Date,Scoreboard Link
0,1,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",https://www.espncricinfo.com/series/indian-pre...
1,2,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
2,3,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
3,4,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
4,5,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
...,...,...,...,...,...,...,...,...
69,70,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,6 wickets,Bengaluru,"May 21, 2023",https://www.espncricinfo.com/series/indian-pre...
70,71,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,15 runs,Chennai,"May 23, 2023",https://www.espncricinfo.com/series/indian-pre...
71,72,Lucknow Super Giants,Mumbai Indians,Mumbai Indians,81 runs,Chennai,"May 24, 2023",https://www.espncricinfo.com/series/indian-pre...
72,73,Gujarat Titans,Mumbai Indians,Gujarat Titans,62 runs,Ahmedabad,"May 26, 2023",https://www.espncricinfo.com/series/indian-pre...
73,74,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023",https://www.espncricinfo.com/series/indian-pre...

In [8]:
df1['Team'] = df1['Team 1']+' Vs '+ df1['Team 2']

In [9]:
df1

,Match_Id,Team 1,Team 2,Team,Winner,Margin,Ground,Date,Scoreboard Link
0,1,Gujarat Titans,Chennai Super Kings,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",https://www.espncricinfo.com/series/indian-pre...
1,2,Punjab Kings,Kolkata Knight Riders,Punjab Kings Vs Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
2,3,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants Vs Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",https://www.espncricinfo.com/series/indian-pre...
3,4,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad Vs Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
4,5,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore Vs Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",https://www.espncricinfo.com/series/indian-pre...
...,...,...,...,...,...,...,...,...,...
69,70,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore Vs Gujarat Titans,Gujarat Titans,6 wickets,Bengaluru,"May 21, 2023",https://www.espncricinfo.com/series/indian-pre...
70,71,Chennai Super Kings,Gujarat Titans,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,15 runs,Chennai,"May 23, 2023",https://www.espncricinfo.com/series/indian-pre...
71,72,Lucknow Super Giants,Mumbai Indians,Lucknow Super Giants Vs Mumbai Indians,Mumbai Indians,81 runs,Chennai,"May 24, 2023",https://www.espncricinfo.com/series/indian-pre...
72,73,Gujarat Titans,Mumbai Indians,Gujarat Titans Vs Mumbai Indians,Gujarat Titans,62 runs,Ahmedabad,"May 26, 2023",https://www.espncricinfo.com/series/indian-pre...
73,74,Gujarat Titans,Chennai Super Kings,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023",https://www.espncricinfo.com/series/indian-pre...

In [10]:
df1 = df1.drop('Scoreboard Link', axis=1)

In [11]:
df1.isnull().sum()

Match_Id    0
Team 1      0
Team 2      0
Team        0
Winner      1
Margin      0
Ground      0
Date        0
dtype: int64

In [12]:
df1

,Match_Id,Team 1,Team 2,Team,Winner,Margin,Ground,Date
0,1,Gujarat Titans,Chennai Super Kings,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023"
1,2,Punjab Kings,Kolkata Knight Riders,Punjab Kings Vs Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023"
2,3,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants Vs Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023"
3,4,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad Vs Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023"
4,5,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore Vs Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023"
...,...,...,...,...,...,...,...,...
69,70,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore Vs Gujarat Titans,Gujarat Titans,6 wickets,Bengaluru,"May 21, 2023"
70,71,Chennai Super Kings,Gujarat Titans,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,15 runs,Chennai,"May 23, 2023"
71,72,Lucknow Super Giants,Mumbai Indians,Lucknow Super Giants Vs Mumbai Indians,Mumbai Indians,81 runs,Chennai,"May 24, 2023"
72,73,Gujarat Titans,Mumbai Indians,Gujarat Titans Vs Mumbai Indians,Gujarat Titans,62 runs,Ahmedabad,"May 26, 2023"
73,74,Gujarat Titans,Chennai Super Kings,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,5 wickets,Ahmedabad,"May 28-29, 2023"

In [13]:
df1.to_csv("D:\Data Analysis\Projects\IPL2023\IPLSchedule.csv", index=False)

In [14]:
df2 = pd.read_csv("D:\Data Analysis\Projects\IPL2023\data\IPLBatting1.csv")

In [15]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Out,Run,Ball,Four,Six,StrikeRate
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,b Mohammed Shami,1,6,0,0,16.66
1,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50,4,9,184.00
2,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Moeen Ali,3,c â€ Saha b Rashid Khan,23,17,4,1,135.29
3,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ben Stokes,4,c â€ Saha b Rashid Khan,7,6,1,0,116.66
4,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ambati Rayudu,5,b Little,12,12,0,1,100.00
...,...,...,...,...,...,...,...,...,...,...,...
1168,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,NaN,77,57,84,12,1.00
1169,3,Lucknow Super Giants Vs Delhi Capitals,Delhi Capitals,Mukesh Kumar,11,NaN,0,1,1,0,0.00
1170,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,3,c Markram b Markande,9,10,15,0,0.00
1171,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,4,b Markande,9,9,11,1,0.00
1172,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Moeen Ali,5,NaN,6,6,9,1,0.00

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1173 entries, 0 to 1172
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Match_Id         1173 non-null   int64
 1   Team             1173 non-null   object
 2   Batting Team     1173 non-null   object
 3   Player Name      1173 non-null   object
 4   Player Position  1173 non-null   int64
 5   Out              907 non-null    object
 6   Run              1173 non-null   int64
 7   Ball             1173 non-null   int64
 8   Four             1173 non-null   int64
 9   Six              1173 non-null   int64
 10  StrikeRate       1173 non-null   float64
dtypes: float64(1), int64(6), object(4)
memory usage: 100.9+ KB

In [17]:
df2['Out'] = df2['Out'].where(pd.notna(df2['Out']), pd.NA)
df2['Out'] = df2['Out'].fillna('')

In [18]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Out,Run,Ball,Four,Six,StrikeRate
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,b Mohammed Shami,1,6,0,0,16.66
1,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50,4,9,184.00
2,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Moeen Ali,3,c â€ Saha b Rashid Khan,23,17,4,1,135.29
3,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ben Stokes,4,c â€ Saha b Rashid Khan,7,6,1,0,116.66
4,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ambati Rayudu,5,b Little,12,12,0,1,100.00
...,...,...,...,...,...,...,...,...,...,...,...
1168,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,,77,57,84,12,1.00
1169,3,Lucknow Super Giants Vs Delhi Capitals,Delhi Capitals,Mukesh Kumar,11,,0,1,1,0,0.00
1170,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,3,c Markram b Markande,9,10,15,0,0.00
1171,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,4,b Markande,9,9,11,1,0.00
1172,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Moeen Ali,5,,6,6,9,1,0.00

In [19]:
df2['Out/NotOut'] = df2.Out.apply(lambda x:"Out" if len(x) > 0 else "NotOut")

In [20]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Out,Run,Ball,Four,Six,StrikeRate,Out/NotOut
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,b Mohammed Shami,1,6,0,0,16.66,Out
1,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ruturaj Gaikwad,2,c Shubman Gill b Joseph,92,50,4,9,184.00,Out
2,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Moeen Ali,3,c â€ Saha b Rashid Khan,23,17,4,1,135.29,Out
3,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ben Stokes,4,c â€ Saha b Rashid Khan,7,6,1,0,116.66,Out
4,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ambati Rayudu,5,b Little,12,12,0,1,100.00,Out
...,...,...,...,...,...,...,...,...,...,...,...,...
1168,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,,77,57,84,12,1.00,NotOut
1169,3,Lucknow Super Giants Vs Delhi Capitals,Delhi Capitals,Mukesh Kumar,11,,0,1,1,0,0.00,NotOut
1170,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,3,c Markram b Markande,9,10,15,0,0.00,Out
1171,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,4,b Markande,9,9,11,1,0.00,Out
1172,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Moeen Ali,5,,6,6,9,1,0.00,NotOut

In [21]:
df2 = df2.drop('Out', axis=1)

In [22]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Run,Ball,Four,Six,StrikeRate,Out/NotOut
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,1,6,0,0,16.66,Out
1,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ruturaj Gaikwad,2,92,50,4,9,184.00,Out
2,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Moeen Ali,3,23,17,4,1,135.29,Out
3,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ben Stokes,4,7,6,1,0,116.66,Out
4,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ambati Rayudu,5,12,12,0,1,100.00,Out
...,...,...,...,...,...,...,...,...,...,...,...
1168,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,77,57,84,12,1.00,NotOut
1169,3,Lucknow Super Giants Vs Delhi Capitals,Delhi Capitals,Mukesh Kumar,11,0,1,1,0,0.00,NotOut
1170,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,3,9,10,15,0,0.00,Out
1171,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,4,9,9,11,1,0.00,Out
1172,29,Sunrisers Hyderabad Vs Chennai Super Kings,Chennai Super Kings,Moeen Ali,5,6,6,9,1,0.00,NotOut

In [23]:
df2 = df2.sort_values(by='Match_Id')

In [24]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Run,Ball,Four,Six,StrikeRate,Out/NotOut
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,1,6,0,0,16.66,Out
16,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rashid Khan,7,10,3,1,1,333.33,NotOut
14,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Vijay Shankar,5,27,21,2,1,128.57,Out
12,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Hardik Pandya,4,8,11,0,0,72.72,Out
11,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Sai Sudharsan,3,22,17,3,0,129.41,Out
...,...,...,...,...,...,...,...,...,...,...,...
266,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,47,25,34,4,2.00,Out
293,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Shivam Dube,3,32,21,49,0,2.00,NotOut
294,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,4,27,13,20,2,2.00,Out
202,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Wriddhiman Saha,1,54,39,63,5,1.00,Out
295,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,5,19,8,8,1,2.00,Out

In [25]:
df2.reset_index(drop=True, inplace=True)

In [26]:
df2

,Match_Id,Team,Batting Team,Player Name,Player Position,Run,Ball,Four,Six,StrikeRate,Out/NotOut
0,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Devon Conway,1,1,6,0,0,16.66,Out
1,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rashid Khan,7,10,3,1,1,333.33,NotOut
2,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Vijay Shankar,5,27,21,2,1,128.57,Out
3,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Hardik Pandya,4,8,11,0,0,72.72,Out
4,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Sai Sudharsan,3,22,17,3,0,129.41,Out
...,...,...,...,...,...,...,...,...,...,...,...
1168,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Devon Conway,2,47,25,34,4,2.00,Out
1169,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Shivam Dube,3,32,21,49,0,2.00,NotOut
1170,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Ajinkya Rahane,4,27,13,20,2,2.00,Out
1171,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Wriddhiman Saha,1,54,39,63,5,1.00,Out
1172,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Ambati Rayudu,5,19,8,8,1,2.00,Out

In [27]:
df2.isnull().sum()

Match_Id           0
Team               0
Batting Team       0
Player Name        0
Player Position    0
Run                0
Ball               0
Four               0
Six                0
StrikeRate         0
Out/NotOut         0
dtype: int64

In [28]:
df2.to_csv("D:\Data Analysis\Projects\IPL2023\IPLBat.csv", index=False)

In [29]:
df3 = pd.read_csv("D:\Data Analysis\Projects\IPL2023\data\IPLBowling1.csv")

In [30]:
df3

,Match_Id,Team,Bowling Team,Bowler Name,Overs,Maidens,Runs,Wickets,Economy,Zeros,Wides,No Ball
0,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Mohammed Shami,4.0,0,29,2.0,7.25,13,0,1
1,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Hardik Pandya,3.0,0,28,NaN,9.33,6,0,0
2,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Josh Little,4.0,0,41,1.0,10.25,10,0,0
3,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rashid Khan,4.0,0,26,2.0,6.50,10,0,0
4,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Alzarri Joseph,4.0,0,33,2.0,8.25,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
887,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Jason Holder,3.0,0,28,NaN,9.33,4,1,0
888,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Yuzvendra Chahal,4.0,0,27,3.0,6.75,8,2,0
889,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Murugan Ashwin,1.0,0,11,NaN,11.00,0,0,1
890,4,Rajasthan Royals Vs Sunrisers Hyderabad,Rajasthan Royals,Navdeep Saini,2.0,0,34,NaN,17.00,3,0,3
891,29,Sunrisers Hyderabad Vs Chennai Super Kings,Sunrisers Hyderabad,Mayank Dagar,3.0,0,21,NaN,7.00,5,0,0

In [31]:
df3['Wickets'].fillna(0, inplace=True)

In [32]:
df3

,Match_Id,Team,Bowling Team,Bowler Name,Overs,Maidens,Runs,Wickets,Economy,Zeros,Wides,No Ball
0,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Mohammed Shami,4.0,0,29,2.0,7.25,13,0,1
1,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Hardik Pandya,3.0,0,28,0.0,9.33,6,0,0
2,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Josh Little,4.0,0,41,1.0,10.25,10,0,0
3,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Rashid Khan,4.0,0,26,2.0,6.50,10,0,0
4,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Alzarri Joseph,4.0,0,33,2.0,8.25,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
887,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Jason Holder,3.0,0,28,0.0,9.33,4,1,0
888,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Yuzvendra Chahal,4.0,0,27,3.0,6.75,8,2,0
889,11,Rajasthan Royals Vs Delhi Capitals,Rajasthan Royals,Murugan Ashwin,1.0,0,11,0.0,11.00,0,0,1
890,4,Rajasthan Royals Vs Sunrisers Hyderabad,Rajasthan Royals,Navdeep Saini,2.0,0,34,0.0,17.00,3,0,3
891,29,Sunrisers Hyderabad Vs Chennai Super Kings,Sunrisers Hyderabad,Mayank Dagar,3.0,0,21,0.0,7.00,5,0,0

In [33]:
df3['Wickets'] = df3['Wickets'].astype(int)

In [34]:
df3.sort_values('Match_Id', inplace=True)

In [35]:
df3.reset_index(drop=True)

,Match_Id,Team,Bowling Team,Bowler Name,Overs,Maidens,Runs,Wickets,Economy,Zeros,Wides,No Ball
0,1,Chennai Super Kings Vs Gujarat Titans,Gujarat Titans,Mohammed Shami,4.0,0,29,2,7.25,13,0,1
1,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Ravindra Jadeja,4.0,0,28,1,7.00,9,0,0
2,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Mitchell Santner,4.0,0,32,0,8.00,7,0,0
3,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Rajvardhan Hangargekar,4.0,0,36,3,9.00,10,3,1
4,1,Chennai Super Kings Vs Gujarat Titans,Chennai Super Kings,Deepak Chahar,4.0,0,29,0,7.25,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
887,74,Gujarat Titans Vs Chennai Super Kings,Chennai Super Kings,Matheesha Pathirana,4.0,0,44,2,11.00,7,2,0
888,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Rashid Khan,3.0,0,44,0,14.66,2,0,0
889,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Mohammed Shami,3.0,0,29,0,9.66,5,0,0
890,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Mohit Sharma,3.0,0,36,3,12.00,4,0,0
891,74,Gujarat Titans Vs Chennai Super Kings,Gujarat Titans,Noor Ahmad,3.0,0,17,2,5.66,6,3,0

In [36]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892 entries, 0 to 193
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Match_Id      892 non-null    int64
 1   Team          892 non-null    object
 2   Bowling Team  892 non-null    object
 3   Bowler Name   892 non-null    object
 4   Overs         892 non-null    float64
 5   Maidens       892 non-null    int64
 6   Runs          892 non-null    int64
 7   Wickets       892 non-null    int32
 8   Economy       892 non-null    float64
 9   Zeros         892 non-null    int64
 10  Wides         892 non-null    int64
 11  No Ball       892 non-null    int64
dtypes: float64(2), int32(1), int64(6), object(3)
memory usage: 87.1+ KB

In [37]:
df3.to_csv("D:\Data Analysis\Projects\IPL2023\IPLBall.csv", index=False)

In [40]:
dfs = pd.read_csv("D:\Data Analysis\Projects\IPL2023\Clean Data\Cleaned_IPL_Batting_Summary.csv")

In [41]:
dfs

,position,batsmen,out_notout,runs,balls,fours,sixes,sr,team,Match_id
0,1,Devon Conway,out,1,6,0,0,16.66,Chennai Super Kings,1st
1,2,Ruturaj Gaikwad,out,92,50,4,9,184,Chennai Super Kings,1st
2,3,Moeen Ali,out,23,17,4,1,135.29,Chennai Super Kings,1st
3,4,Ben Stokes,out,7,6,1,0,116.66,Chennai Super Kings,1st
4,5,Ambati Rayudu,out,12,12,0,1,100,Chennai Super Kings,1st
...,...,...,...,...,...,...,...,...,...,...
1176,3,Shivam Dube,not out,32,21,0,2,152.38,Chennai Super Kings,Final
1177,4,Ajinkya Rahane,out,27,13,2,2,207.69,Chennai Super Kings,Final
1178,5,Ambati Rayudu,out,19,8,1,2,237.5,Chennai Super Kings,Final
1179,6,MS Dhoni,out,0,1,0,0,0,Chennai Super Kings,Final
1180,7,Ravindra Jadeja,not out,15,6,1,1,250,Chennai Super Kings,Final

In [42]:
dfv = pd.read_csv("D:\Data Analysis\Projects\IPL2023\Clean Data\Cleaned_IPL_Player_Summary_With_Img.csv")

In [43]:
dfv

,player,role,batting_style,bowling_style,Image,team
0,MS Dhoni,Wicketkeeper Batter,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
1,Akash Singh,Bowler,Right hand Bat,Left arm Medium fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
2,Moeen Ali,Batting Allrounder,Left hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
3,Bhagath Varma,Bowling Allrounder,Right hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
4,Deepak Chahar,Bowler,Right hand Bat,Right arm Medium,"https://img1.hscicdn.com/image/upload/f_auto,t...",Chennai Super Kings
...,...,...,...,...,...,...
257,Umran Malik,Bowler,Right hand Bat,Right arm Fast,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad
258,Vivrant Sharma,Allrounder,Left hand Bat,Legbreak Googly,https://wassets.hscicdn.com/static/images/play...,Sunrisers Hyderabad
259,Samarth Vyas,Allrounder,Right hand Bat,Legbreak Googly,https://wassets.hscicdn.com/static/images/play...,Sunrisers Hyderabad
260,Upendra Yadav,Wicketkeeper Batter,Right hand Bat,Right arm Offbreak,https://wassets.hscicdn.com/static/images/play...,Sunrisers Hyderabad
261,Washington Sundar,Bowling Allrounder,Left hand Bat,Right arm Offbreak,"https://img1.hscicdn.com/image/upload/f_auto,t...",Sunrisers Hyderabad

In [46]:
dff =  dfs['batsmen'].map(dfv['player'])

In [48]:
dff.head(50)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
Name: batsmen, dtype: object